{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'teacherProfile/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'main/css/rating.css' %}">
{% endblock %}

{% block js %}
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<script src="{% static 'teacherProfile/js/script.js' %}"></script>
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<section class="profile">
    <div class="container">
        <div class="profile-info">
            <div class="container-profile">
                <h1 class="profile-title">Информация о Вас</h1>
                <img src="{% static 'teacherProfile/media/kazakov.svg' %}" alt="Фото профиля" class="profile-img">
                <p class="profile-name">
                    ФИО: {{ user.last_name }} {{ user.first_name }}{% if user.patronymic %} {{ user.patronymic }}{% endif %}
                </p>                
                <p class="profile-job">Должность: <br> {{ user.position }}</p>
                <p class="profile-groups">Курируемые группы: 
                    {% for group in curated_groups %}
                        {{ group.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            
            <div class="container-group">
                <div class="group-manager">
                    <h3>Управление группами:</h3>
                    <div class="group-filters">
                        <select id="facultySelect" onchange="updateGroups()">
                            <option value="">Все факультеты</option>
                            <option value="EiEB" {% if selected_faculty == 'EiEB' %}selected{% endif %}>
                                Экономика и экономическая безопасность
                            </option>
                            <option value="IT" {% if selected_faculty == 'IT' %}selected{% endif %}>
                                Информационные технологии
                            </option>
                        </select>

                        <select id="courseSelect" onchange="updateGroups()">
                            <option value="">Все курсы</option>
                            {% for i in "1234" %}
                            <option value="{{ i }}" {% if selected_course == i %}selected{% endif %}>
                                {{ i }} курс
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="current-groups">
                        <h4>Ваши группы:</h4>
                        <div class="group-list">
                            {% for group in curated_groups %}
                            <div class="group-tab {% if group.id == selected_group.id %}active{% endif %}" 
                                 data-group-id="{{ group.id }}">
                                {{ group.name }}
                                <button class="remove-group" 
                                        onclick="removeGroup(event, {{ group.id }})">x</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="add-group-section">
                        <select id="availableGroups">
                            <option value="">Выберите группу для добавления</option>
                            {% for group in available_groups %}
                            <option value="{{ group.id }}">
                                {{ group.name }} ({{ group.get_faculty_display }} {{ group.course }} курс)
                            </option>
                            {% endfor %}
                        </select>
                        <button class="add-group-btn" onclick="addGroup()">+ Добавить группу</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rating-table">
            <div class="students-section">
                <div style="display: flex; justify-content: space-between; align-items: center; margin: 10px;">
                    <h2 style="margin: 0;">Студенты группы: {{ selected_group.name|default:"Группа не выбрана!" }}</h2>
                    <button class="add-student-btn" onclick="showAddForm()">+ Добавить студента</button>
                </div>
                

                <table class="table-student" style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th class="sort-header" style="text-align: center; vertical-align: middle;">№</th>
                            <th class="sort-header" style="text-align: center; vertical-align: middle;">ФИО</th>
                            <th class="sort-header" style="text-align: center; vertical-align: middle;">Номер зачётной книги</th>
                            <th class="sort-header" style="text-align: center; vertical-align: middle;">Баллы</th>
                            <th class="sort-header" style="text-align: center; vertical-align: middle;"></th>
                        </tr>
                    </thead>
                    <tbody id="students-list">
                        {% for student in students %}
                        <tr class="student-item" data-id="{{ student.id }}">
                            <td style="text-align: center; vertical-align: middle;">{{ forloop.counter }}.</td> 
                            <td style="text-align: center; vertical-align: middle;">{{ student.full_name }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ student.record_book }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ student.total_score }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                <button class="delete-btn" onclick="deleteStudent({{ student.id }})">X</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
        
        
    </div>
</section>

<div id="addModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Добавить студента</h3>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div id="error-message" class="error-message"></div>
        <form id="studentForm">
            {% csrf_token %}
            <input type="hidden" name="group_id" value="{{ selected_group.id }}">
            <div class="form-group">
                <label>Номер зачетной книги:</label>
                <input type="text" name="record_book" required 
                       class="modern-input"
                       placeholder="Введите номер зачётки">
            </div>
            <div class="form-group">
                <label>ФИО:</label>
                <input type="text" name="full_name" required
                       class="modern-input"
                       placeholder="Иванов Иван Иванович">
            </div>
            <div class="form-actions">
                <button type="submit" class="modern-btn">Сохранить</button>
                <button type="button" class="modern-btn cancel" 
                        onclick="closeModal()">Отмена</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}