{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" href="{% static 'studentProfile/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'studentProfile/css/profile.css' %}">
{% endblock %}

{% block js %}
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ctx = document.getElementById('radarChart');
        new Chart(ctx, {
            type: 'radar',
            data: {
                labels: {{ radar_labels_json|safe }},
                datasets: [{
                    label: 'Баллы',
                    data: {{ radar_data_json|safe }},
                    backgroundColor:['rgba(0, 80, 207, 0.2)', 'green','yellow','purple', 'red' ],
                    borderColor: ['rgb(3, 63, 160)', 'green','yellow','purple', 'red' ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    r: { 
                        beginAtZero: true,
                        max: Math.max(...{{ radar_data_json|safe }}) + 10 || 100
                    }
                }
            }
        });
    });
</script>
{% endblock %}

{% block title %}Профиль студента{% endblock %}

{% block content %}
<section class="profile">
    <div class="container">
        <div class="profile__student-table">
            <h1 class="student-title">Профиль студента</h1>
            <table class="table-student">
                <thead>
                    <tr>
                        <th class="table-massives" scope="col">Номер зачётной книги</th>
                        <th class="table-massives" scope="col">ФИО</th>
                        <th class="table-massives" scope="col">Баллы</th>
                        <th class="table-massives" scope="col">Кафедра</th>
                        <th class="table-massives" scope="col">Курс</th>
                        <th class="table-massives" scope="col">Группа</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >{{ student.record_book }}</td>
                        <th >{{ student.full_name }}</th>
                        <th >{{ student.total_score }}</th>
                        <th >{{ student.group.faculty }}</th>
                        <th >{{ student.group.course }}</th>
                        <th >{{ student.group.name }}</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="profile-student__flex" style="backgroundColor: white; padding: 20px 80px;">
            <div class="left-block">
                <div class="profile__student-diagramm">
                    <canvas id="radarChart" class="radar" style="display: block; box-sizing: border-box; height: 600px; width: 600px;"></canvas>
                </div>
            </div>
        
            <div class="right-block" >
                <div class="student-activity">
                    <table class="table-activity">
                        <thead>
                            <tr>
                                <th class="table-massives table-massives__background" scope="col">Вид деятельности</th>
                                <th class="table-massives table-massives__background" scope="col">Баллы</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-massives" style="background-color: #fff; color: #000000">
                                <th>ОБЩЕСТВЕННАЯ</th><th>{{ student.social_score }}</th>
                            </tr>
                            <tr class="table-massives" style="background-color: #fff; color: #000000">
                                <th>УЧЕБНАЯ</th><th>{{ student.academic_score }}</th>
                            </tr>
                            <tr class="table-massives" style="background-color: #fff; color: #000000">
                                <th>СПОРТИВНАЯ</th><th>{{ student.sport_score }}</th>
                            </tr>
                            <tr class="table-massives" style="background-color: #fff; color: #000000">
                                <th>КУЛЬТУРНО-ТВОРЧЕСКАЯ</th><th>{{ student.cultural_score }}</th>
                            </tr>
                            <tr class="table-massives" style="background-color: #fff; color: #000000">
                                <th>НАУЧНО-ИССЛЕДОВАТЕЛЬСКАЯ</th><th>{{ student.research_score }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="student-documents">
                <h2>Достижения</h2>
                {% for achievement in achievements %}
                <div class="document-item">
                    <div class="doc-date">
                        {{ achievement.uploaded_at|date:"d.m.Y H:i" }}
                    </div>
                    <div class="doc-category">{{ achievement.get_category_display }}</div>
                    <div class="doc-achievement">{{ achievement.achievement }}</div>
                    <div class="doc-score">{{ achievement.score }} баллов</div>
                    <div class="doc-type">{{ achievement.get_doc_type_display }}</div>
                    
                    {% if achievement.file %}
                    <a href="{{ achievement.file.url }}" download class="doc-download">
                        Скачать ({{ achievement.file.name|slice:"-4:"|upper }})
                    </a>
                    {% else %}
                    <span class="no-file">Файл не прикреплён</span>
                    {% endif %}
                </div>
                {% empty %}
                    <p>На данный момент нет достижений</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}