{% extends 'base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'user/js/script.js' %}" defer></script>
{% endblock %}

{% block content %}
<section class="login">
    <div class="login-container">
        <div class="login-form">
            <h1 class="login-role">Авторизация</h1>
            <form method="post" class="login-form__form">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    <div class="alert">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="login-form__field">
                    <label class="label-login">Имя пользователя</label>
                    <div class="login-input">
                        <input type="text" id="username" name="username" class="login-input__field" 
                               value="{{ form.username.value|default_if_none:'' }}" required>
                    </div>
                    {% for error in form.username.errors %}
                        <div class="alert">
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="login-form__field">
                    <label class="label-login">Пароль</label>
                    <div class="login-input">
                        <input type="password" name="password" class="login-input__field" id="passwordInput" required>
                    </div>
                    {% for error in form.password.errors %}
                        <div class="alert">
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
                
                <button class="login-button" type="submit">Войти</button>
                
                <p class="login-form__links">
                    <a class="login-link" href="{% url 'user:registration' %}">Зарегистрироваться</a>
                    <span class="login-separator"></span>
                    <a class="login-link" href="#">Восстановить пароль</a>
                </p>
            </form>
        </div>
        <div class="login-logo">
            <p class="login-text">
                Если у Вас возникли технические сложности, свяжитесь с нами по email: 
                <a href="mailto:support@bgitu.ru" class="login-email">support@bgitu.ru</a>
            </p>
        </div>
        <div class="login-footer">
            <p class="login-info__rtl">
                BRYANSK STATE <br>
                TECHNOLOGICAL UNIVERSITY <br>
                OF ENGINEERING
            </p>
            <div class="login-img">
                <img src="{% static 'main/media/logo_BGITU.png' %}" alt="БГИТУ" class="login-bgitu">
            </div>
            <p class="login-info">
                БРЯНСКИЙ ГОСУДАРСТВЕННЫЙ <br>
                ИНЖЕНЕРНО-ТЕХНОЛОГИЧЕСКИЙ <br>
                УНИВЕРСИТЕТ
            </p>
        </div>
    </div>
</section>
{% endblock %}