{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="icon" href="{% static "main/media/favicon.ico" %}">
	<link rel="stylesheet" href="{% static "main/fonts/stylesheet.css" %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock  %}
	<script src="{% static "teacherProfile/js/script.js" %}" defer></script>
	{% block js %}{% endblock  %}
	<title>{{ title }}</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-wrapper">
				<div class="header-logo">
					<a href="#">
                        <img src="{% static 'main/media/logo_BGITU.png' %}" alt="logo_BGITU" class="header-img">
					</a>
					<div class="breadcrumbs">
						<a href="#" class="header-link">{{ title }}</a>
						<span class="breadcrumbs__split">/</span>
					</div>
				</div>
				<div class="header-content">
					<a href="#">
                        <img src="{% static 'main/media/logo_IT.png' %}" alt="logo_IT" class="header-img_it">
                    </a>
					<div class="header-content__item">
                        {% if not user.is_authenticated %}
                            <a href="{% url "user:login" %}" class="header-link__item">Войти</a>
                            <a href="{% url "user:registration" %}" class="header-link__item">Зарегистрироваться</a>
                        {% else %}
                            <a href="{% url "profile:teacher_profile" %}" class="header-link__item">{{ user.get_full_name }}</a>
                            <a href="{% url "user:logout" %}" class="header-link__item">Выйти</a>
                            {% if user.is_admin or user.is_staff%}
                                <a href="{% url "admin:index" %}" class="header-link__item">админ панель</a>
                            {% endif %}
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>
    {% block content %}
    {% endblock  %}
</body>
</html>